@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');


:root {
  --main-bg-color: #343a40;
	--color-panel: #F58634;
  --color-sidebar: #FFF;
  --color-card:#ffd6bb;
}
body {
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed ;
	background-position: top ;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

i{
	color: var(--color-panel);
	width: 21px;
}
i:hover{
	color:#8f9d80;
}
.btn i{
	color:black;
	width: 21px;
}

/*Comienza la SIDEBAR*/
.sidebar{
	position: fixed;
	z-index: 10;
	top: 56px;
	/*background-color: var(--main-bg-color);*/
	background-color: var(--color-sidebar);
	overflow-x: hidden;
	left: 0;
	height: 100%;
	transition: 0.5s all;
	padding-top: 20px;

	-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
	opacity: 1;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 100;
}
.sidebar a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	border-left: 6px solid var(--main-bg-color);
}
.sidebar a:hover{
	text-decoration: none;
}
/* On mouse-over */
.sidebar a:hover, .dropdown-btn:hover {
	color: black;
  background-color: #ffd6bb;
	border-left: 6px solid #909090;
}

/* Main content */
.main {
	margin-left: 1px; /* Same as the width of the sidenav */
	padding: 10px;
	padding-top:0px;
	overflow:auto;
	position: fixed;
	z-index: 1;
	top: 65px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition: 0.5s all;

	background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: top ;
	-webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 575.98px) {
	.sidebar{
		width: 1px;
	}
	.sidenav {
		width: 100%;
	}

	.main{
		margin-left: 0px;
	}
	.fijaproceso{

	}
}
@media (min-width: 576px) and (max-width: 1199.98px) {
	.sidebar{
		width: 58px;
	}
	.sidebar span{
		display: none;
	}
	.sidenav {
		width: 180px;
	}
	.sidenav span{
		display: inline-block;
	}
	.main {
		margin-left: 56px;
	}
	.fijaproceso{
		margin-left: 1px; /* Same as the width of the sidenav */
		padding-left: 180px; /* Same as the width of the sidenav */
	}

}
@media (min-width: 1200px) {
	.sidebar{
		width: 58px;
	}
	.sidebar span{
		display: none;
	}

	.sidenav {
		width: 180px;
	}
	.sidenav span{
		display: inline-block;
	}

	.main {
		margin-left: 56px;
	}
	.fijaproceso{
		margin-left: 1px; /* Same as the width of the sidenav */
		padding-left: 185px;
	}
}

.barra{
	background-color: var(--color-panel) !important;
	color:white;
}
.barra .navbar-nav>li>a{
	color:white;
}
.card-header, .card-footer{
  background-color: var(--color-card) !important;
}
